{% extends 'index.html' %}
{% block body %}
    

      <div class="container my-3">
        <h2>Add a Todo</h2>
        <form action="/" method="POST">
            <div class="mb-3">
              <label for="title">Todo Title</label>
              <input type="text" class="form-control" name="title" id="title" required> 
            </div>
            <div class="mb-3">
              <label for="desc">Todo Description</label>
              <input type="text" class="form-control" name="desc" id="desc" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>       
      <div class="container my-3">
        <h1>YOUR TO DO'S</h1>
        
                {% if allTodo|length==0 %}
                  <div class="alert alert-primary" role="alert">
                    No work, Please write any you want to do
                  </div>
                      
                {% else %}
                  <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Sr no.</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Time</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    
                
                      {% for todo in allTodo %}
                
                        <tr>
                          <th scope="row">{{loop.index}}</th>
                          <td>{{todo.title}}</td>
                          <td>{{todo.desc}}</td>
                          <td>{{todo.date_created}}</td>
                          <td>
                            <a href="/update/{{todo.SrNo}}" type="button" class="btn btn-primary btn-sm mx-1">update</a>
                            <a href="/delete/{{todo.SrNo}}" type="button" class="btn btn-primary btn-sm mx-1">Delete</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              
                {% endif %}
             
            
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}